root = true

[*]
indent_size = 4

[*.{kt,kts}]
ktlint_code_style=android_studio
ktlint_function_naming_ignore_when_annotated_with = Composable, Test
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ktlint_compose_lambda-param-in-effect=disabled

[**/uikit/theme/*.kt]
ktlint_standard_property-naming = disabled

[**/test/**.kt]
ktlint_ignore_back_ticked_identifier=true

[**/test/**/repoimpl/**.kt]
max_line_length = off

[**/androidTest/**.kt]
max_line_length = off

[**/testing/**]
ktlint = disabled

[**/PlatoSpacers.kt]
ktlint_compose_modifier-missing-check=disabled
