*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build-logic/.gradle
/build-logic/convention/build
/data/build/
/app/release/
/keystore.properties
/app/debug/
/release.keystore.jks
/debug.keystore.jks
*.hprof
/core/build/
/feature/build/
/feature/settings/build
/utils/build/